/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196F3;
  --light-text-color: #FFFFFF;
  --black-text-color: #000000;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --icons-color: #AFB1B8;
  /* Background colors */
  --bg-color: #2F303A;
  --secondary-bg-color: #F5F4FA;
  --accent-bg-color: #2196F3;
  --light-bg-color: #FFFFFF;
  --active-bg-color: #188CE8;
  /* animation */
  --anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--light-bg-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: var(--secondary-font);
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  display: block;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__dark {
  color: var(--black-text-color);
}

.logo-light {
  color: var(--light-bg-color);
}

.logo__footer {
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-text-color);
  background-color: var(--accent-bg-color);
  -webkit-transition: background-color var(--anim-main);
  transition: background-color var(--anim-main);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn:hover, .btn:focus {
  background-color: var(--active-bg-color);
}

.hero__btn {
  width: 216px;
  margin-left: auto;
  margin-right: auto;
}

.subscription__btn {
  gap: 10px;
}

.register-form-btn {
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: var(--icons-color);
  -webkit-transition: background-color var(--anim-main), fill var(--anim-main);
  transition: background-color var(--anim-main), fill var(--anim-main);
}
.socials-link:hover, .socials-link:focus {
  background-color: var(--accent-bg-color);
  fill: var(--light-text-color);
}

.socials-icon {
  color: currentColor;
}

.footer .socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--light-text-color);
  -webkit-transition: background-color var(--anim-main);
  transition: background-color var(--anim-main);
}
.footer .socials-link:hover, .footer .socials-link:focus {
  background-color: var(--accent-bg-color);
}

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--anim-main), border-color var(--anim-main);
  transition: color var(--anim-main), border-color var(--anim-main);
}
.btn-close:hover, .btn-close:focus {
  color: var(--accent-bg-color);
  border-color: var(--accent-bg-color);
}

.icon-close {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 500ms, visibility 1000ms;
  transition: opacity 500ms, visibility 1000ms;
  /* transition: transform 500ms; */
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  /* transform: scale(0.5); */
}

.modal {
  margin: auto;
  height: 581px;
  width: 528px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--light-bg-color);
}

.register-form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form-group {
  margin-bottom: 20px;
}
.register-form-group:last-child {
  margin-bottom: 0;
}

.register-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  display: block;
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-main);
  transition: border-color var(--anim-main);
}
.register-form-input:focus {
  border-color: var(--accent-bg-color);
}

.register-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--anim-main);
  transition: fill var(--anim-main);
}

.register-form-input:focus + .register-form-icon {
  fill: var(--accent-bg-color);
}

.register-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-main);
  transition: border-color var(--anim-main);
}
.register-form-message:focus {
  border-color: var(--accent-bg-color);
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity var(--anim-main);
  transition: opacity var(--anim-main);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--anim-main);
  transition: opacity var(--anim-main);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.register-form-checkbox:focus + .register-form-icons {
  outline: 2px solid var(--accent-bg-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.register-form-desc {
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.register-form-link {
  color: var(--accent-text-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-right: auto;
}

.nav__list,
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

/* .nav__item {} */
.nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color var(--anim-main);
  transition: color var(--anim-main);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}

.nav__current {
  color: var(--accent-text-color);
  position: relative;
}
.nav__current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-bg-color);
  border-radius: 2px;
}

/* .contacts__item {
}   */
.contacts__link {
  color: inherit;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim-main);
  transition: color var(--anim-main);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icon {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/hero-bg.jpg);
  background-color: var(--bg-color);
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--light-bg-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list,
.about__list,
.team-list,
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__item {
  -ms-flex-preferred-size: calc((100% - (4 - 1) * 30px) / 4);
      flex-basis: calc((100% - (4 - 1) * 30px) / 4);
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.features__text {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.about {
  padding-bottom: 94px;
}

.about__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - (3 - 1) * 30px) / 3);
      flex-basis: calc((100% - (3 - 1) * 30px) / 3);
}

.about__label-box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

/* .team-list {} */
.team-item {
  background-color: var(--light-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

/* .team-img {} */
.team-container {
  padding: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.team-info {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  @in;
}

.clients-item {
  width: 170px;
  height: 92px;
  -ms-flex-preferred-size: calc((100% - (6 - 1) * 30px) / 6);
      flex-basis: calc((100% - (6 - 1) * 30px) / 6);
}

.clients-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  /* fill: var(--icons-color); */
  color: var(--icons-color);
  -webkit-transition: border-color var(--anim-main), color var(--anim-main);
  transition: border-color var(--anim-main), color var(--anim-main);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-bg-color);
  color: var(--accent-bg-color);
}

.clients-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__address-box {
  margin-right: 70px;
}

.footer__socials-box {
  margin-right: auto;
}

.footer__title {
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
  display: inline-block;
}

.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__address {
  color: var(--light-text-color);
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.address__contacts {
  color: var(--contacts-text-color);
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--anim-main);
  transition: color var(--anim-main);
}
.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-text-color);
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscription__input {
  width: 360px;
  /* height: 40px ; */
  padding: 15px;
  display: block;
  color: var(--light-bg-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__icon {
  fill: currentColor;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-list {
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 575px;
      flex-basis: 575px;
  margin-bottom: 50px;
}

/* .btn-item {}  */
.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  -webkit-transition: color var(--anim-main), background-color var(--anim-main), -webkit-box-shadow var(--anim-main);
  transition: color var(--anim-main), background-color var(--anim-main), -webkit-box-shadow var(--anim-main);
  transition: color var(--anim-main), background-color var(--anim-main), box-shadow var(--anim-main);
  transition: color var(--anim-main), background-color var(--anim-main), box-shadow var(--anim-main), -webkit-box-shadow var(--anim-main);
}
.btn-portfolio:hover, .btn-portfolio:focus {
  color: var(--light-text-color);
  background-color: var(--accent-bg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-active {
  color: var(--light-text-color);
  background-color: var(--accent-bg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-preferred-size: 1170px;
      flex-basis: 1170px;
}

.portfolio-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
  display: block;
  -webkit-transform: box-shadow var(--anim-main);
          transform: box-shadow var(--anim-main);
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--anim-main);
  transition: -webkit-transform var(--anim-main);
  transition: transform var(--anim-main);
  transition: transform var(--anim-main), -webkit-transform var(--anim-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

.info-box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.portfolio-info {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */