.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

    background-color: rgba(0, 0, 0, 0.1);

    transition: opacity 500ms, visibility 1000ms;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    margin: auto;
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--light-bg-color);

    @media screen and (max-width: 425px) {
        width: calc(100% - 30px);
        // 
    }

    @media screen and (min-width: 768px) {
        height: 609px;
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        height: 581px;
        width: 528px;
    }
}
