.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

    background-color: rgba(0, 0, 0, 0.1);

    transition: opacity 500ms, visibility 1000ms;
    /* transition: transform 500ms; */
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    /* transform: scale(0.5); */
}

.modal {
    margin: auto;
    height: 581px;
    width: 528px;
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--light-bg-color);
}
