.register-form-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: var(--title-text-color);
}

.register-form-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.register-form-group {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.register-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 5px;
    display: block;
}

.register-form-input {
    width: 100%;
    height: 40px;
    padding: 11px;
    padding-left: 42px;
    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--anim-main);

    &:focus {
        border-color: var(--accent-bg-color);
    }
}

.register-form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill var(--anim-main);
}

.register-form-input:focus+.register-form-icon {
    fill: var(--accent-bg-color);
}

.register-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-size: 14px;
    resize: none;
    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--anim-main);

    &:focus {
        border-color: var(--accent-bg-color);
    }
}

.register-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-bottom: 30px;
}

.icon-checked {
    opacity: 0;
    transition: opacity var(--anim-main);
}

.register-form-checkbox:checked+.register-form-icons .icon-checked {
    opacity: 1;
}

.icon-unchecked {
    opacity: 1;
    transition: opacity var(--anim-main);
}

.register-form-checkbox:checked+.register-form-icons .icon-unchecked {
    opacity: 0;
}

.register-form-checkbox:focus+.register-form-icons {
    outline: 2px solid var(--accent-bg-color);
    outline-offset: 1px;
    border-radius: 2px;
}

.register-form-desc {
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.register-form-link {
    color: var(--accent-text-color);
}