.footer {
    background-color: var(--bg-color);
    @include section(60px, 60px);
}

.footer__container {
    // @include list(flex, 60px, column, nowrap);

    @media screen and (min-width: 768px) {
        @include list(flex, 0, row, wrap);
        height: 343px;
        justify-content: space-around;
        align-items: baseline;
        align-content: space-between;
    }

    @media screen and (min-width: 1200px) {
        @include list(flex, 0, row, nowrap);
        height: auto;
    }
}

.footer__address-box{
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.footer__socials-box{
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-right: auto;
    }
}

.footer__group{
    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        
        margin-bottom: 0;
    }
}

.footer__title {
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text-color);

    margin-bottom: 20px;
    display: block;
    width: max-content;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-right: 0;
    }
}

