.hero {
    @include list(flex, 30px, column, nowrap);
    justify-content: center;
    align-items: center;
   
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    
    // width: 480px;
    height: 400px;

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
    }

    // Mobile screen
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/bg-img_sm@1x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bg-img_sm@2x.jpg);
    }

    // Tablet screen
    @media screen and (min-width: 481px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bg-img_md@1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/bg-img_md@2x.jpg);
        }
    }

    // Desktop screen
    @media screen and (min-width: 769px) {
        @include section(200px, 200px);

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bg-img_lg@1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/bg-img_lg@2x.jpg);
        }
    }
    background-color: var(--bg-color);
}

.hero__title {
    font-weight: 900;
    // font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--light-bg-color);

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    max-width: 360px;

    @media screen and (max-width:480px) {
        font-size: 6vw;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: calc(60 / 44);
        max-width: 696px;
    }
}