.nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: auto;
    }
}

.nav__list {
    display: flex;
    gap: 50px;
}

/* .nav__item {} */

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    display: block;
    transition: color var(--anim-main);
    color: var(--title-text-color);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.nav__current {
    color: var(--accent-text-color);
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1.5%;
        left: 0;
        width: 100%;
        height: 4px;

        background-color: var(--accent-bg-color);
        border-radius: 2px;
    }
}

