.portfolio{
    @include section (94px, 94px);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: 1170px;
}

.portfolio-item {
    flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio-link {
    display: block;
    transform: box-shadow var(--anim-main);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-thumb{
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    transform: translateY(101%);
    transition: transform var(--anim-main);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translateY(0);
}

.overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 /18);
    letter-spacing: 0.03em;

    color: var(--light-text-color);
}

.info-box {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.portfolio-subtitle {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    margin-bottom: 4px;

    color: var(--title-text-color);
}

.portfolio-info {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}