.btn-list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-basis: 575px;

    margin-bottom: 50px;   
    margin-left: 0; 

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.btn-item {
    @media screen and (max-width: 480px) {
        margin-bottom: 8px;
    }
} 

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);

    cursor: pointer;

    transition: color var(--anim-main), background-color var(--anim-main), box-shadow var(--anim-main);

    &:hover,
    &:focus {
        color: var(--light-text-color);
        background-color: var(--accent-bg-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.btn-active{
    color: var(--light-text-color);
    background-color: var(--accent-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}