.team {
    @include section(60px, 60px);
    background-color: var(--secondary-bg-color);

    @media screen and (min-width: 1200px) {
        @include section(94px, 94px);
    }
}

.team-list {
    @include list(flex, 30px, column, nowrap);

    @media screen and (min-width: 768px) {
        @include list(flex, 30px, row, wrap);
    }

    @media screen and (min-width: 1200px) {
        @include list(flex, 30px, row, nowrap);
    }
} 

.team-item {
    background-color: var(--light-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        @include item(2, 30px);
    }
    
    @media screen and (min-width: 1200px) {
        @include item(4, 30px);
    }
}

.team-img {
    width: 100%;
    height: auto;
} 

.team-container {
    padding: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;

    color: var(--title-text-color);
}

.team-info {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}