.team {
    @include section(94px, 94px);
    background-color: var(--secondary-bg-color);
}

.team-list {
    @include list(flex, 30px, null, null);
} 

.team-item {
    background-color: var(--light-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 30px * 3)/4);
}

/* .team-img {} */

.team-container {
    padding: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;

    color: var(--title-text-color);
}

.team-info {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}